@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i');

* {
  margin: 0;
  padding: 0;
}

$arvo: 'Arvo', serif;

$primary-color: rgb(32, 32, 32);

body {
  font: 100% $arvo;
  color: $primary-color;
  font-size: 1rem;
}

nav {
  .nav {
    &__wrapper {
      width: 100%;
      height: 70px;
      background-color: #ffa7a7cc;
    }
    &__list {
      display: inline;
      list-style-type: none;

      li {
        display: inline;
      } 
    }
  }  
}  

