html, body {
    background: #100a1c;
    background-image:
      radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
      radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
    background-attachment: fixed;
    height: 100%;
}

.wrapper {
    margin: 10% auto auto auto;
    padding: 10px;
    width: 30%;
    
    border: 2px solid rgba(235, 240, 235, 0.842);
    border-radius: 50px;
    background-color: #f0ec0b;
    text-align: center;
}

#button {
    background-color: #4CAF50; 
    border: 2px solid #ffffff;
    border-radius: 7px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#button:active {
    background: #ffffff no-repeat bottom;
  }

 #number1 {
    margin: auto;
    background: rgb(136, 116, 116);
    border-radius: 50%;
    height: 30px;
    width: 30px;   
   
  }

  #number2 {
    margin: auto;
    background: rgb(136, 116, 116);
    border-radius: 50%;
    height: 30px;
    width: 30px;   
   
  }

  #number3 {
    margin: auto;
    background: rgb(136, 116, 116);
    border-radius: 50%;
    height: 30px;
    width: 30px;   
   
  }

  #number4 {
    margin: auto;
    background: rgb(136, 116, 116);
    border-radius: 50%;
    height: 30px;
    width: 30px;   
   
  }

  #number5 {
    margin: auto;
    background: rgb(136, 116, 116);
    border-radius: 50%;
    height: 30px;
    width: 30px;   
   
  }

  #number6 {
    margin: auto;
    background: rgb(136, 116, 116);
    border-radius: 50%;
    height: 30px;
    width: 30px;   
   
  }

  #actualDraw {
      color: white;
  }

 
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}

