* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.containter {
  background-image: url("img/background.jpg");
  background-size: 20%;
  min-height: 100%;
  height: auto
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  background-color: hsla(0, 0%, 0%, 0.529);
  color: white;
  
}

.header__text {
  display: inline-block;
}

.main {
  height: 1500px;
}

.main2 {
  height: 200px;
}